// Define color variables
$color-background: #121212;
$color-text: white;
$color-hover: #ffc107;
$color-purple: #9372f0;
$color-dark: #0d0d0d;
$color-gradient-start: #121212;
$color-gradient-end: #403E3E;
$color-border: rgba(255, 255, 255, 0.5);
$color-placeholder: rgba(255, 255, 255, 0.7);
$color-box-shadow: rgba(0, 0, 0, 0.5);
$color-box-shadow-light: rgba(0, 0, 0, 0.1);
$color-box-shadow-focus: rgba(147, 114, 240, 0.5);

// Font face
@font-face {
  font-family: 'Julius Sans One';
  src: url('/fonts/JuliusSansOne-Regular.ttf') format('truetype');
  font-weight: 600;
}

/* ========== Global Styles ========== */
body {
  background-color: $color-background;
  color: $color-text;
  font-family: 'Julius Sans One', sans-serif;
  text-shadow: #0d0d0d 5px 5px 5px;
  overflow-x: hidden;
}

h2 {
  font-size: 40px;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  text-shadow: 0px 4px 5px $color-box-shadow;
}

/* ========== General Element Styles ========== */
section {
  padding: 119px 70px;
}

img {
  border-radius: 39px;
  box-shadow: 0px 4px 25px 15px $color-box-shadow;
}

img.img-fluid, video.video-fluid {
  width: 100%;
  height: auto;
  border-radius: 39px;
  box-shadow: 0px 4px 25px 15px $color-box-shadow;
  object-fit: cover;
}

video {
  width: 437px;
  height: 251px;
  object-fit: cover;
}

video::-webkit-media-controls-mute-button,
video::-webkit-media-controls-volume-slider {
  display: none;
}

p {
  margin-top: 40px;
  font-family: 'Julius Sans One', sans-serif;
  text-shadow: 0px 4px 5px $color-box-shadow;
}

.navbar-brand img {
  width: 75px ;
  height: 75px;
}

.navbar .nav-link {
  font-size: 18px;
  transition: color 0.3s;
}

.navbar .nav-link:hover {
  color: $color-hover;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar {
  justify-content: center;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
  }
  .navbar .btn {
    display: none;
  }
  .navbar .collapse.show .btn {
    display: block;
  }
}

@media (min-width: 769px) {
  .navbar .navbar-collapse {
    justify-content: center;
  }
  .navbar .btn {
    margin-left: auto;
  }
}

/* Buttons */
.btn-outline-light {
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.btn-outline-light:hover {
  background-color: $color-purple;
  color: $color-background;
}

.btn-outline-light.copied {
  background-color: $color-purple;
  color: $color-background;
}

/* ========== Containers ========== */
.container-1 {
  
  width: 100%;
  height: auto;
  background-color: $color-dark;
}

.container-2 {
  background: linear-gradient(to bottom, $color-gradient-start, $color-gradient-end);
}

.container-2 .section-title {
  margin-bottom: 125px;
}

.container-2 img {
  width: 437px;
  height: 251px;
  object-fit: cover;
  transition: transform 0.3s;
  margin-bottom: 30px;
}

.container-2 img:hover {
  transform: scale(1.05);
}

.carousel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 301px;
  align-items: center;
}

.container-3 {
  background: linear-gradient(to top, $color-gradient-start, $color-gradient-end);
  width: 1920px;
  height: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.container-4 {
  background: radial-gradient(circle, $color-gradient-end, $color-gradient-start);
  width: 1920px;
  height: 1080px;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}
.container-4 .section-title {
  margin-right: 125px;
}

.youtube-carousel-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#youtubeCarousel {
  width: 1200px;
  height: 600px;
}

.container-5 {
  width: 1920px;
  height: 1450px;
  background-color: $color-background;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-5 .section-title {
  margin-bottom: 125px;
}



.container-6 {
  width: 100%;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px $color-box-shadow;
}

.container-6 input[type="text"],
.container-6 input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-top: 2px;
  margin-bottom: 5px;
  border: 1px solid $color-border;
  border-radius: 10px;
  background-color: #333;
  color: $color-text;
  font-size: 16px;
  display: block;
}

.container-6 input[type="text"]::placeholder,
.container-6 input[type="email"]::placeholder {
  color: $color-placeholder;
}

.container-6 input[type="text"]:focus,
.container-6 input[type="email"]:focus {
  border-color: $color-purple;
  outline: none;
  box-shadow: 0 0 5px $color-box-shadow-focus;
}
.container-1,
.container-2,
.container-3,
.container-4,
.container-5,
.container-6
{
  width: 100%;
  margin: 0 auto;
}
.file-item {
  margin-top: 35px;
  margin-bottom: 26px;
  text-align: center;
  width: 100%;

  & input {
    display: none;
  }

  & .file-placeholder {
    width: 100%;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed $color-border;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      border-color: $color-border;
    }

    & p {
      margin: 0;
      color: $color-text;
    }
  }
}

/* Centered Text */
.centered-text {
  color: $color-text;
  font-size: 36px;
  text-align: center;
}

/* ========== Carousel Styles ========== */
.carousel-container {
  width: 50%;
}

.carousel-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: $color-text;
}

.carousel-item img {
  width: 450px !important;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
  box-shadow: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.carousel-control-prev,
.carousel-control-next {
  color: $color-text;
  font-weight: bold;
}

.carousel-inner .carousel-item {
  transition: transform 0.5s ease-in-out;
}

/* ========== Section Styles ========== */
.workplace-section {
  background-color: $color-dark;
}

#best-wallpapers .container-5 {
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;
}

#best-wallpapers .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#best-wallpapers .card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px $color-box-shadow-light;
  overflow: hidden;
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#best-wallpapers .card img {
  width: 100%;
  height: auto;
}

.examples-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 165px 80px;
  background: linear-gradient(to bottom, $color-gradient-start, $color-gradient-end);
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  color: $color-text;
  text-align: center;
  font: 400 96px 'Julius Sans One', sans-serif;
  max-width: 1599px;
}

.devices-section {
  position: absolute;
  width: 1920px;
  height: 1200px;
  text-align: center;
}

.devices-title {
  font-size: 48px;
  margin-bottom: 40px;
}

.devices-content {
  display: flex;
  justify-content: space-around;
}

.device-image {
  border-radius: 20px;
}

/* Full-Width Carousel Section */
.full-width-carousel-section {
  width: 100%;
  height: 1561px;
  background-color: #3a3a3a;
}

.full-width-carousel-section .carousel-inner img {
  height: 100%;
  object-fit: cover;
}

.full-width-carousel-section .category-title {
  color: $color-text;
  text-align: center;
  margin-bottom: 20px;
}

/* ========== Footer Styles ========== */
footer {
  background-color: $color-dark;
  color: $color-text;
  padding: 20px 0;
  text-align: center;
}

footer a {
  color: $color-text;
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover {
  color: $color-hover;
}

/* ========== Media Queries ========== */
@media (max-width: 900px) {
  .header,
  .container-1,
  .container-2,
  .container-3,
  .container-4,
  .container-5,
  .container-6 {
    position: relative;
    width: 100%;
    height: auto;
  }
  .container-2 .content-wrapper {
    position: relative;
    right: 30%;
    width: 1%;
    height: auto;
  }
  .container-2 .section-title {
    margin-left: 150px;
  }
  .container-5 .content-wrapper {
    position: relative;
    left: 20%;
    width: 1%;
    height: auto;
  }
  .container-5 p {
    right: auto;
  }
  .container-3 {
    height: 960px;
  }

  .devices-section {
    width: 100%;
    height: 100%;
  }

  .devices-content .carousel {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .carousel-item img {
    width: 150px !important;
    height: 150px !important;
  }

  .youtube-carousel-section {
    
  }

  .youtube-carousel-section .section-title {
    font-size: 14px; 
  }

  .youtube-carousel-section .youtubeCarousel {
    
    
    height: auto;
  }

  .youtube-carousel-section iframe {
    width: 550px;
    height: 400px;
  }

  .navbar-collapse {
    background-color: $color-dark;
    padding: 1rem;
  }

  .navbar-nav {
    flex-direction: column;
    gap: 1rem;
  }

  .navbar-nav .nav-link {
    text-align: center;
  }

  .navbar-nav .btn {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container-1,
  .container-2,
  .container-3,
  .container-4,
  .container-5,
  .container-6 {
    position: relative;
    width: 100%;
    height: auto;
  }

  .container-3 {
    height: 960px;
  }
  .container-5 .content-wrapper {
    position: relative;
    left: 7.5%;
    width: 1%;
    height: auto;
  }

  .devices-section {
    width: 100%;
    height: 100%;
  }
  .container-4 .content-wrapper {
    position: relative;
    right: 70%;
    width: 1%;
    height: auto;
  }
  .devices-content .carousel {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .carousel-item img {
    width: 150px !important;
    height: 150px !important;
  }
  .container-2 .content-wrapper {
    position: relative;
    right: 45%;
   
    height: auto;
  }
  
  .container-2 .section-title {
    margin-left: 130px;
  }
  .youtube-carousel-section {
    width: 100%;
    height: 100%;
  }
  .container-3 .content-wrapper {
    position: absolute;

    
    height: auto;
  }
  .youtube-carousel-section .section-title {
    font-size: 24px;
  }

  .youtube-carousel-section .youtubeCarousel {
    width: 100%;
    height: auto;
  }

  .youtube-carousel-section iframe {
    width: 250px;
    height: 400px;
  }

  .navbar-collapse {
    background-color: $color-dark;
    padding: 1rem;
  }

  .navbar-nav {
    flex-direction: column;
    gap: 1rem;
  }

  .navbar-nav .nav-link {
    text-align: center;
  }

  .navbar-nav .btn {
    width: 100%;
  }
}

.container-header {
  margin: 0 !important;
  padding: 0 !important;
}

.navbar-collapse {
  width: 900px !important;
}

@media screen and (max-width: 767px) {

  .container-2 .section-title {
      width: 380px;
      margin-left: 0 !important;
      text-align: center;
  }

  .examples-section {
    padding: 165px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-2 img {
    width: 320px;
    height: auto;
    align-self: center;
    margin-left: 35px;
  }

  .youtube-carousel-section  {
    flex-direction: column;

    iframe {
      width: 360px !important;
      margin-left: 415px;
    }
  }

  .devices-section .carousel {
    flex-direction: column;
    
    
  }

  .second_container {
    margin-top: -250px;
  }
}